[init]
	defaultBranch = main
[pull]
	rebase = false
[commit]
	gpgsign = false
[user]
	name = Ian Cleary
	email = hello@iancleary.me

# when working on MacOS
[includeIf "gitdir:/Users/iancleary/"]
	path = ~/.gitconfig.personal.macos
